/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use '@fortawesome/fontawesome-free/css/all.css';
@use './demo/demo.scss';

.p-timeline-event {
    display: block !important;
}

.degradeemerald {
    background: linear-gradient(90deg, #A7F3D0, #6EE7B7, #34D399, #10B981, #059669);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.ist-background{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%); clip-path: ellipse(150% 87% at 93% 13%);
}

/* ===============================
   Overrides globais – Aura Light
   =============================== */
/*
:root {
  --p-accordion-header-background: #10b981; 
  --p-accordion-header-color: #047857;
  --p-accordion-content-background: #ffffff;
}
*/